body {
    background-color: coral;
}

body.blue {
    background-color: cornflowerblue;
}

body.green {
    background-color: darkseagreen;
}

#app {
    flex: 1;
    align-self: stretch;
}

button {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 10vh;
    color: azure;
}

button:active {
    padding-top: 1vh;
    padding-left: 1vh;
}
